# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\diana\OneDrive\Desktop\tema_sstr\mas.sstr.diana.niti\tema-4\Cerinta1\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
